{% extends 'ricette/common.html' %}

{% block content %}
    <nav class="navbar" style="background-color: darkorange;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                {% load static %}
                <img src="{% static 'ricette/logo3.png' %}" alt="" width="35" height="30" class="d-inline-block align-top" style="background-color: transparent;">
                <span class="text-dark">Cucinando</span>
            </a>
        </div>
    </nav>

    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Accedi al tuo account!</h1>
        {% if error %}
            <p class="lead" style="color: red">{{ error }}</p>
        {% endif %}
        <form class="row g-3"  method="post"> {% csrf_token %}
            <div class="form-floating mb-3 col-12">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3 col-12">
                <input type="password" class="form-control" id="floatingInput" name="pw" placeholder="Password">
                <label for="floatingInput">Password</label>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Conferma</button>
            </div>
        </form>
        <br>
        <p class="lead">Non hai un account? Cosa aspetti registrati subito!</p>
        <a href="{% url 'registrati' %}" type="button" class="btn btn-success"> Registrati </a>

    </div>

{% endblock %}