{% extends 'ricette/common.html' %}

{% block content %}
    <!-- Image and text -->
    <nav class="navbar" style="background-color: darkorange;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'ricette/logo3.png' %}" alt="" width="35" height="30" class="d-inline-block align-top" style="background-color: transparent;">
                <span class="text-dark">Cucinando</span>
            </a>

            <div class="dropend">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" >
                    Categorie Prodotti
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="{% url 'primi_a' %}" class="dropdown-item" href="#">Primi</a></li>
                    <li><a href="{% url 'secondi_a' %}" class="dropdown-item" href="#">Secondi</a></li>
                    <li><a href="{% url 'contorni_a' %}" class="dropdown-item" href="#">Contorni</a></li>
                    <li><a href="{% url 'dolci_a' %}" class="dropdown-item" href="#">Dolci</a></li>
                </ul>
            </div>

            <form class="d-flex" role="search" action="accesso/search" method="get" style="margin-right: -3%">
                <input class="form-control me-2" name="query" type="search" placeholder="Cerca Ricetta" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>

            <a style="margin-left: -3%" href="{% url 'preferiti' %}">
                {% load static %}
                <img src=" {% static 'ricette/preferiti3.png' %} " alt="" width="38" height="35" class="d-inline-block align-top">
            </a>

            <a style="margin-left: -3%" href="{% url 'aggiungi' %}">
                {% load static %}
                <img src=" {% static 'ricette/aggiungi1.png' %} " alt="" width="35" height="35" class="d-inline-block align-top">
            </a>

        </div>

    </nav>
    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Bentornato {{ request.session.user }}!</h1>
        <p class="lead">Salva le tue ricette preferite e condividi con noi i tuoi cavalli di battaglia.</p>
        <a href="{% url 'home' %}" type="button" class="btn btn-danger btn-lg"> Logout </a>
    </div>

    <div class="container">
        <div class="row">
            {% for ricetta in ricette %}
                <div class="col-lg-3">
                    <div class="card" style="width: 100%;">
                        <img src="{{ ricetta.immagine.url }}" class="card-img-top" alt="Ricetta Immagine" style="height: 340px;">
                    </div>
                </div>
                <div class="col-lg-9 border border-orange">
                    <div class="card-body">
                        <h5 class="card-title"><span style="text-transform: uppercase;">{{ ricetta.nome }}</span></h5>
                        <p class="card-text"><span style="text-transform: uppercase;">Tempo di Preparazione:</span> {{ ricetta.tempo }} minuti</p>
                        <p class="card-text"><span style="text-transform: uppercase;">Difficoltà: </span>{{ ricetta.difficoltà }}/5</p>
                        <p class="card-text"><span style="text-transform: uppercase;">Ingredienti: </span>{{ ricetta.ingredienti }}</p>
                        <p class="card-text"><span style="text-transform: uppercase;">Preparazione: </span>{{ ricetta.descrizione }}</p>
                        <form method="post"> {% csrf_token %}
                                <input type="hidden" name="ricetta_nome" value="{{ ricetta.nome }}">
                                <button type="submit" class="btn btn-dark">Aggiungi ai preferiti</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
